// Include bourbon, and neat css files
@import "bourbon";
@import "neat";
// Include variables and fonts
@import "filemanagement/variables";
@import "filemanagement/fonts";

.col-1-2 {
    margin-bottom: $spacing-and-half;    
}

.aboutUs {
    background-color: $tertiary-color;
}

div h2 {
    font-size: 2.5em;
    color: $secondary-accent-color;
    text-align: center;
    margin-top: .5em;
}

.aboutUs p {
    padding:  0 $double-spacing;
}

section {
    margin-bottom: $spacing-and-half;
    
    h4 {
        padding: 0 $spacing-and-half;
        // Two levels of nesting
        font: {
            size: $large-font;
            family: 'Philosopher', sans-serif;
        }
    }
    
    ul {
        list-style-type: none;
        padding-left: 3em;
    }
    
    li {
        margin: $spacing 0;
        font-size: 1.2em;
    }
}

article img {
    border-radius: 15px;
    margin-top: $spacing;
}

/* adjust font sizes for easier clickability and readability at smaller widths */
@media (max-width: 768px) {
    
    article p {
        font-size: 1.2em;
    }
    
    h3+p {
        font-size: 1em;
    }
    
    section {
        h4 {
            font-size: $large-font;
        }
        
        ul {
            font-size: 1.3em;
            // Bourbon Padding Add-on
            @include padding(null 0.5em null $spacing-and-half);
        }
    }
}