@import "bourbon";
@import "neat";
@import "filemanagement/variables";

.col-1-2 {
    margin-bottom: $spacing-and-half;    
}

.aboutUs {
    background-color: $tertiary-color;
}

div h2 {
    font-size: $larger-font;
    color: $secondary-accent-color;
    text-align: center;
    margin-top: .5em;
}

.aboutUs p {
    padding:  0 $double-spacing;
}

section {
    margin-bottom: $spacing-and-half;
    
    h4 {
        padding:  0 $double-spacing;
    }
    
    ul {
        list-style-type: none;
        padding-left: 3.5em;
    }
    
    li {
        margin: $spacing 0;
        font-size: 1.2em;
    }
}

/* adjust font sizes for easier clickability and readability at smaller widths */
@media (max-width: 768px) {
    article p {
        font-size: $large-font;
    }
    
    section {
        h4, ul {
            font-size: 1.7em;
        }
        
        ul {
            padding-left: $double-spacing;
            padding-right: .5em;
        }
    }
}