// Include bourbon, and neat css files
@import "bourbon";
@import "neat";
// Include variables, mixins, and fonts
@import "filemanagement/variables";
@import "filemanagement/fonts";
@import "filemanagement/mixins";

// Media varibales specific to the blog.html page
$small: 29.938em; //479px
$sm-medium: 30em; //480px
$medium: 48em; //768px

// If/Else Media Query Mixin specific to the blog.html page
@mixin mq ($breakpoint: $medium) {
  @if $breakpoint == $medium {
    @media (min-width: $medium) {
      @content;
    }
  }
  @else if $breakpoint == $sm-medium {
    @media (min-width: $sm-medium) and (max-width: $medium) {
      @content;
    }
  }
  @else {
    @media (max-width: $small) {
      @content;
    }
  }
}
// End media query if/else mixin

.blogPost {
    border-bottom-style: groove;
        
    &:last-of-type {
        border: none;
    }
}

.header {
    border-bottom: none;
}

h2 {
    font-size: $larger-font;
    text-align: center;
    margin-bottom: 0;
}

// Maps styles
// Copied from Refills - Maps
#map_canvas {
  height: 400px;
  width: 92%;
  margin-bottom: $spacing-and-half;
  // Bourbon Border Style Add-on
  @include border-style(groove null groove null);
}

#map_canvas img {
  max-width: none; 
// to prevent UI control bug
}

#map_canvas .content {
  padding: 0 0.5em $spacing 0.5em;
}

#map_canvas .firstHeading {
  font-size: $larger-font;
  font-weight: bold;
  line-height: $spacing;
  margin: 0;
}
// end Maps styles

article {
    
    img {
        margin-top: 0;
        border-radius: 15px;
    }
    
    h2 {
        margin-bottom: .5em;
    }
    
    h2+p {
        text-align: center;
        margin-top: 0;
    }
    
    h4 {
        // Extend used
        @extend h2;
        font-size: $large-font;
    }
    
    span {
        font-weight: bold;
    }
    
    &:last-of-type {
        padding-bottom: $double-spacing;
    }
    
}

// Media Queries
/*Laptop and Desktop Screen Sizes, use large header background image */
@include mq($medium) {
    header {
        // customized mixin used
        @include header-img(url(../img/MVCC/edgartown-1300.png))
    }
    
    article p {
        font-size: $medium-font;
    }
}

/* Tablet and Mobile Landscape Screen Sizes, swap background image, use medium header background image */
@include mq ($sm-medium) {
    header {
        // customized mixin used
        @include header-img(url(../img/MVCC/edgartown-710.png))
    }
    
    article p {
        font-size: 1.3em;
    }
}

/* Mobile Portrate Screen Sizes, change background image, use small header background image */
@include mq($small) {
    header {
        // customized mixin used
        @include header-img(url(../img/MVCC/edgartown-445.png))
    }
    
    article p {
        font-size: 1.3em;
    }
}