// Mixins
// Source: DGMD E-27 week 5 - mixins.scss
@mixin bkgd-gradient($color1, $color2) {
	background: -webkit-linear-gradient($color1, $color2); /* Chrome 10+, Saf5.1+ */
  	background: -moz-linear-gradient($color1, $color2); /* FF3.6+ */
  	background: -ms-linear-gradient($color1, $color2); /* IE10 */
 	background: -o-linear-gradient($color1, $color2); /* Opera 11.10+ */
  	background: linear-gradient($color1, $color2); /* W3C */
}

// Handles changing the background image at different screen sizes
@mixin header-img($background-img) {
    background: $background-img no-repeat;
    width: 100%;
    height: 300px;
}

// if/else Media Query Mixin specific to the blog.html page
@mixin mq ($breakpoint: $large) {
  @if $breakpoint == $large {
    @media (max-width: $large) {
        @content;
    }
  }
  @else if $breakpoint == $medium {
    @media (max-width: $medium) {
        @content;
    }
  }
  @else if $breakpoint == $md-large {
    @media (min-width: $md-large) {
      @content;
    }
  }
  @else if $breakpoint == $sm-medium {
    @media (min-width: $sm-medium) and (max-width: $medium) {
      @content;
    }
  }
  @else {
    @media (max-width: $small) {
      @content;
    }
  }
}
// End media query if/else mixin