// Color variables
$primary-color: #87CEF3;
$secondary-color: #D3D8D4;
$tertiary-color: #FCF6D9;
$accent-color: #6C97F0;
$secondary-accent-color: #44ACD2;
$type-color: #2C2933;
$header-color: #37627C;
$countdown-color: #205490;

// Spacing variables
$spacing: 1em;
$spacing-and-half: $spacing*1.5;
$double-spacing: $spacing*2;

// Font variables
$large-font: 1.5em;
$larger-font: 2em;